@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Dosis', sans-serif;

@keyframes bounce {
    0% {
        transform: scale(1);
        animation-timing-function: ease-in;
    }
    15% {
        transform: scale(0.9);
        animation-timing-function: ease-out;
    }
    30% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }
    50% {
        transform: scale(0.87);
    }
    70% {
        transform: scale(1);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-family: "Dosis", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Dosis", sans-serif;
}
span {
    color: red;
}

nav {
    .navbar-brand {
        text-decoration: none !important;
        font-size: 2.1rem !important;
        letter-spacing: 5px;
        word-spacing: 3px;
    }
    .nav-item{
        margin-right: 1.8rem;
    
    a {
        color: #fff;
        font-family: 'Dosis', sans-serif;
        font-size: 14px;
        position: relative;
        padding: 0 !important;
        margin: 0;
    }
    a:hover{
        color: #fff;
    }
}
    .nav-item a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 100%;
        height: 1px;
        background-color:#fff;
        transition: 250ms ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
    }
    .nav-item a:hover::after {
        transform: scaleX(1);
        transform-origin: right;
    }
}
.carousel-item {
    height: 640px;
}

.carousel-img-1 {
    background: url("../img/pexels-stas-knop-1626481.jpg");
    background-size: cover;
}

.carousel-img-2 {
    background: url("../img/img-1.jpg");
    background-size: cover;
}

.carousel-img-3 {
    background: url("../img/img-2.jpg");
    background-size: cover;
}

#home {
    background: url(../img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    .navbar-brand {
        img {
            width: 100px;
        }
    }
    .img {
        position: absolute;
        top: 10px;
        right: 0;
        img {
            width: 200px;
            clip-path: circle();
            animation: bounce 2s ease-in-out infinite;
        }
    }
    .img::after {
        content: "";
        position: absolute;
        left: 8px;
        bottom: -30px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgb(233, 178, 178);
        animation: bounce 2s ease-in-out infinite;
    }
    .img::before {
        content: "";
        position: absolute;
        left: -18px;
        bottom: -65px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: rgb(151, 143, 206);
        animation: bounce 2s ease-in-out infinite;
    }
    .yellow {
        position: absolute;
        top: 215px;
        right: 220px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(226, 230, 23);
        animation: bounce 2s ease-in-out infinite;
    }

    .container-fluid {
        .right {
            img {
                width: 300px;
                clip-path: circle();
                margin-top: -65px;
                margin-left: 60px;
            }
        }
    }
    h1 {
        font-weight: 800;
        text-align: start;
        margin-left: 5rem;
    }
    .music {
        margin: -50px 0 0 5rem;
        p {
            color: #000;
        }
        img {
            width: 55px;
        }
    }
}
