@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@media screen and (max-width: 768px) {
  iframe {
    width: 480px !important;
    height: 300px !important;
  }
  #home {
    height: 550px !important;
  }
  .overlay {
    height: 550px !important;
  }
}

@media screen and (max-width: 568px) {
  #home {
    height: 450px !important;
  }
  .overlay {
    height: 450px !important;
  }
  iframe {
    width: 380px !important;
    height: 200px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "New Tegomin", serif;
}

.display-1, .display-2, .display-3, .display-4, .display-5 {
  font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

span {
  color: red;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  color: #fff;
}

.follow-button {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
}

nav {
  border-bottom: 1px solid #000;
}

nav form {
  padding-top: 18px;
}

nav .navbar-brand {
  text-decoration: none !important;
  font-size: 2.1rem !important;
}

nav .form-control {
  width: 450px !important;
}

nav .input-group-text {
  cursor: pointer;
  font-weight: 500;
}

.carousel-item {
  height: 640px;
}

.carousel-img-1 {
  background: url("../img/pexels-stas-knop-1626481.jpg");
  background-size: cover;
}

.carousel-img-2 {
  background: url("../img/img-1.jpg");
  background-size: cover;
}

.carousel-img-3 {
  background: url("../img/img-2.jpg");
  background-size: cover;
}

.side-menu {
  position: absolute;
  top: 33%;
  left: 0;
}

.side-menu ul li:hover {
  margin-left: 0px;
}

.side-menu ul li {
  background: #a2a0a0;
  padding: 8px 0;
  margin-bottom: 12px;
  color: #fff;
  width: 165px;
  margin-left: -117px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px 10px 10px 0;
}

.side-menu ul li a {
  text-decoration: none;
  color: #0e0e0e;
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  padding: 0 10px;
  font-size: 17px;
}

.side-menu ul li a:hover {
  color: black;
  text-transform: uppercase;
  font-weight: bolder;
}

.side-menu .music-icon i {
  margin-left: 10px;
  font-size: 22px;
}

#home {
  background: url(../img/pexels-stas-knop-1626481.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 660px;
  position: relative;
}

.overlay {
  background: #181818;
  opacity: 0.9;
  height: 660px;
}

iframe {
  width: 555px;
  height: 410px;
  border: none;
  border-radius: 3px;
}

.sing-up {
  -webkit-box-shadow: 5px 5px 12px #725151;
          box-shadow: 5px 5px 12px #725151;
  border-radius: 8px;
}

.sing-up .form-header {
  border-bottom: 1px solid #fff;
}

.sing-up h2 {
  color: red;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
}

.sing-up h2 i {
  color: red;
  font-size: 30px;
  line-height: 1.5;
}

.sing-up .seconod-way button {
  background: #12378c !important;
}

.sing-up .seconod-way button:hover {
  background: #3b5998 !important;
}
/*# sourceMappingURL=style.css.map */